# Dependencias
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Next.js
.next
out
build
dist

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem

# Debug
.vscode
.idea

# Local env files
.env
.env*.local
.env.development
.env.test
.env.production

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Git
.git
.gitignore

# Docs
docs
README.md

# CI/CD
.github
